<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nova_senha.css">
    <link rel="stylesheet" href="css/nova_senha.css">
    <link rel="shortcut icon" href="../imgs/logo_bdb.png" type="image/x-icon">
    <title>Nova Senha</title>
</head>

<body>

    <div class="top-bar">
        <div class="logo">
            <img src="../imgs/logo_bdb.png" alt="logo" width="90px">
        </div>
        <div>
            <a th:href="@{/Login}" class="voltar_button">VOLTAR</a>
        </div>
    </div>

    <div class="caixa-recuperar">
        <div class="form-header">
            <h3 class="recuperar-senha">NOVA SENHA</h3>
        </div>

        <form id="loginForm" class="form">
            <input type="text" placeholder="nova senha" class="input-senha">
            <input type="text" placeholder="confirmar senha" class="input-senha">
            <a th:href="@{/Login}" class="enviar-botao">CADASTRAR SENHA</a>
        </form>
    </div>

</body>

</html>
